img {
  height: 40px;
  margin-right: 10px;
  width: auto;
}

.img-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin-symbol {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.coin-name {
  font-weight: 600;
}
.red {
  color: #f00606;
  font-weight: 600;
}

.green {
  color: #11d811;
  font-weight: 600;
}
