img {
  height: 35px;
  margin-right: 10px;
  width: auto;
}

.img-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin-symbol {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.coin-name {
  font-weight: 600;
}

.red {
  color: #f00606;
  font-weight: 600;
}

.green {
  color: #11d811;
  font-weight: bolder;
}

h1 {
  color: gray;
}

.cards {
  display: flex;
  /* justify-content: center; */
  gap: 20px;
  align-items: center;
}

/* .card {
  background-color: white;
  box-shadow: 0px 0px 10px #00f4f4;
} */
